.finger_dexterity {
	display: flex;
	justify-content: center;
	align-items: center;

	-webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
	-khtml-user-select: none; /* Konqueror HTML */
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* Internet Explorer/Edge */
	user-select: none;

	> .key_interface {
		width: 480px;
		height: 380px;
		position: relative;

		> .divider {
			width: 25%;
			height: calc(100% - 30px);
			position: absolute;
			border-left: 1px solid #ccc;
			bottom: 30px;
			z-index: -1;
		}

		> .divider.active {
			/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffcc33+1,ffcc33+100&0+1,0.42+88,0+100 */
			background: -moz-linear-gradient(top, rgba(255,204,51,0) 1%, rgba(255,204,51,0.42) 88%, rgba(255,204,51,0) 100%); /* FF3.6-15 */
			background: -webkit-linear-gradient(top, rgba(255,204,51,0) 1%,rgba(255,204,51,0.42) 88%,rgba(255,204,51,0) 100%); /* Chrome10-25,Safari5.1-6 */
			background: linear-gradient(to bottom, rgba(255,204,51,0) 1%,rgba(255,204,51,0.42) 88%,rgba(255,204,51,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffcc33', endColorstr='#00ffcc33',GradientType=0 ); /* IE6-9 */
		}

		> .fader {
			width: 100%;
			height: 100%;
			position: absolute;
			z-index: 1;

			/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,ffffff+100&1+0,0+100 */
			background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%); /* FF3.6-15 */
			background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%); /* Chrome10-25,Safari5.1-6 */
			background: linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=0 ); /* IE6-9 */
		}

		> .next_container {
			width: 100%;
			height: 280pxv;
			display: flex;
			flex-direction: column;

			> .row {
				width: 100%;
				height: 60px;
				padding: 10px 0px;
				margin: 5px 0px;
				display: flex;
				background-color: rgba(0,0,0,0.05);

				> .button {
					width: 40px;
					height: 40px;
					margin: 0px 10px;
					border-radius: 25px;
					opacity: 0;
				}
	
				> .button.active {
					opacity: 1;
					background-color: #aaa;
				}
			}
	
			
		}
	
		> .button_container {
			width: 100%;
			height: 60px;
			display: flex;
			z-index: 2;
			
	
			.button {
				width: 50px;
				height: 50px;
				margin: 5px;
				background-color: #555;
				border-radius: 25px;
				transition: background-color 0.1s;
				display: flex;
				align-items: center;
				justify-content: center;
				color: #fff;
				text-transform: uppercase;
				font-size: 14px;
			}

			.button.active.timer6 {
				background-color: #0dd;
			}
			.button.active.timer5 {
				background-color: #1ac6c6;
			}
			.button.active.timer4 {
				background-color: #32b2b2;
			}
			.button.active.timer3 {
				background-color: #4c9b9b;
			}
			.button.active.timer2 {
				background-color: #658585;
			}
			.button.active.timer1 {
				background-color: #7e6f6f;
			}
	
			.button.mistake {
				background-color: #f00;
			}
	
			.button.disabled {
				background-color: #ccc;
			}
		}

		> .score_display {
			position: absolute;
			top: 5px;
			left: 0px;
			width: 100%;
			text-align: center;
			color: #333;
			z-index: 2;
	
			> .score_value {
				font-size: 16px;
				font-weight: 100;
				letter-spacing: 2px;
			}

			> .score_average {
				font-size: 28px;
				font-weight: 100;
				letter-spacing: 2px;
			}
		}
	}
} 