.page_home {
	display: flex;
	align-items: center;

	-webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
	-khtml-user-select: none; /* Konqueror HTML */
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* Internet Explorer/Edge */
	user-select: none;

	> .staff {
		width: 100%;
		height: 200px;
		
		position: relative;
		transform: scale(1, 1);
		overflow: visible;

		> .g_clef {
			height: 370px;
			margin-left: 10px;
			margin-top: -85px;
			position: absolute;
			cursor: pointer;
			z-index: 1;
			
			> img {
				height: 100%;
			}
		}

		> .sharps {
			z-index: 2;
			font-size: 100px;
			line-height: 85px;
			position: absolute;
			transform: scale(0.75, 1);
			color: #333;
			padding-left: 20px;
			cursor: pointer;

			> span {
				position: relative;
				top: -8px;
				pointer-events: none;
			}
		}

		> .sharps.disabled {
			opacity: 0.2
		}

		> .lines {
			width: 100%;
			height: 50px;
			border-top: 1px solid rgba(0,0,0,0.65);
			position: relative;
		}

		> .lines.last {
			border-bottom: 1px solid rgba(0,0,0,0.65);
		}

		> .notes {
			width: 50px;
			height: 50px;
			border-radius: 25px;
			position: absolute;
			left: 420px;
			top: -200px;
			transform: scale(1.2, 1);
			background-color: #333;
			color: #fff;
			display: flex;
			align-items: center;
			justify-content: center;

			> span {
				z-index: 1;
				position: relative;
			}

			> .strike {
				height: 1px;
				width: 74px;
				background-color: #333;
				position: absolute;
				left: -12px;
				z-index: 0;
			}

			> .strike.mid {
				top: 25px;
			}
	
			> .strike.top {
				top: 0px;
			}
	
			> .strike.bot {
				margin-top: 50px;
			}
		}
	}

	> .blocker {
		width: 100%;
		height: 100%;
		color: #fff;
		letter-spacing: 2px;
		font-size: 14px;
		font-weight: 100;
		position: fixed;
		display: flex;
		justify-content: center;
		align-items: center;
		z-index: 1;
		cursor: pointer;
		background: -moz-linear-gradient(top, rgba(0,0,0,0.2) 0%, rgba(0,0,0,0.8) 50%, rgba(0,0,0,0.2) 100%); /* FF3.6-15 */
		background: -webkit-linear-gradient(top, rgba(0,0,0,0.2) 0%,rgba(0,0,0,0.8) 50%,rgba(0,0,0,0.2) 100%); /* Chrome10-25,Safari5.1-6 */
		background: linear-gradient(to bottom, rgba(0,0,0,0.2) 0%,rgba(0,0,0,0.8) 50%,rgba(0,0,0,0.2) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#33000000', endColorstr='#33000000',GradientType=0 ); /* IE6-9 */
	}

	> .note_checker {
		position: fixed;
		bottom: 10px;
		left: 10px;
		font-size: 12px;

		> b {
			color: #fff;
			background-color: #333;
			padding: 3px 10px;
			text-transform: uppercase;
			letter-spacing: 1px;
			border-radius: 3px;
			margin-left: 5px;
			cursor: pointer;
		}
	}

	> .top_menu {
		position: fixed;
		top: 10px;
		right: 10px;
		display: flex;

		> .button {
			color: #fff;
			width: 40px;
			height: 40px;
			margin: 0px 2px;
			border-radius: 3px;
			display: flex;
			justify-content: center;
			align-items: center;
			background-color: #333;
			cursor: pointer;
		}
	}
}