@mixin menu_button() {
	color: #fff;
	width: 40px;
	height: 40px;
	margin: 0px 2px;
	border-radius: 3px;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #333;
	
	text-decoration: none;
	cursor: pointer;
}

.bottom_menu {
	position: fixed;
	bottom: 10px;
	right: 10px;
	display: flex;

	> .button {
		@include menu_button();
		width: auto;
		padding: 0px 15px;
	}
}

.top_menu {
	position: fixed;
	top: 10px;
	right: 10px;
	display: flex;

	> .button {
		@include menu_button();
	}
}